
@{
    ViewBag.Title = "FirstPage";
}

<h2>PmTool</h2>

<div class="jumbotron">
    <h1>What do you want to do today?</h1>
    <br />
    @*@using (Html.BeginForm("ViewProjecTypes", "Index"))
    {
        @Html.DropDownListFor(model => model.Project_type_id, ViewBag.projectTypeDll as SelectList, "--select--", new { @class = "for-control" })
    }*@
    @*@Html.DropDownListFor(model => model.Project_type_id, ViewBag.projectTypedll as SelectList, "--select--", new { @class = "for-control" })*@
        @Html.DropDownList("projectTypeDll", "Select project")


    @using (Html.BeginForm("CreateProject", "Lab"))
    {
        <input type="submit" name="GoCreateProjectButton" class="btn btn-primary btn-lg" value="Create a project" />
    }
    <br />
    <input type="submit" name="LoginButton" class="btn btn-primary btn-lg" value="Access PM Tool" />

</div>