@model PmTool.UI.Models.Users

@{
    ViewBag.Title = "UsersId";
}

<h2>UsersId</h2>

@using (Html.BeginForm("UsersId", "Users"))
{
    @Html.DropDownListFor(model => model.User_id, ViewBag.usuarioDll as SelectList, "--select--", new { @class = "for-control" })
}