<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PmTool.DAL.BD.conexion" connectionString="Data Source=LAPTOP-GI5VPA14\SOFIT;Initial Catalog=PmTool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>